body {
    font-family: 'Roboto', sans-serif;
    background-color: #1a1a2e;
    color: #e0e0e0;
}
header {
    background-color: #16213e;
    text-align: center;
    padding: 20px;
}
nav {
    margin: 20px 0;
    text-align: center;
    background-color: #0f3460;
}
main {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.image-section, .text-section {
    width: 80%;
    height: 200px;
    margin-bottom: 20px;
    transition: transform 0.3s;
    display: flex;
}
.image-section {
    background-color: #16213e;
}
.image-section img {
    max-width: 50%;
    height: auto;
    order: 1;
}
.image-section div {
    width: 50%;
    order: 2;
}
.text-section {
    background-color: #0f3460;
}
.text-section img {
    max-width: 50%;
    height: auto;
    order: 2;
}
.text-section div {
    width: 50%;
    order: 1;
}
footer {
    background-color: #16213e;
    text-align: center;
    padding: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    
}
.container {
    width: 80%;
    margin: 0 auto;
    background-color: #1a1a2e;
    border: 1px solid #0f3460;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.topic-container {
    background-color: #0f3460;
    border: 1px solid #16213e;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
